@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body{
	margin: 0;
}

nav{
	background-color: purple;
	display: flex;
	align-items: center;
	padding: 50px;
	justify-content: space-between;
}

nav img{
	height: 90px;
	border-radius: 50%;
}

ul{
	justify-content: flex-end;
	display: flex;
	align-items: center;
	list-style-type: none;
	font-family: Pacifico;
}

ul li a{
	margin: 20px;
	padding: 20px;
	color: black;
	background-color: white;
	text-decoration: none;
	border-radius: 10px;
}

ul li a:hover {
	background-color: black;
	color: white;
}