p{
	padding: 30px
}


.a{
	background-color: #03fc90
}

.b{
	background-color: rgb(82,3,252)
}

.c{
	background-color: #fc0703
}

.d{
	background-color: rgb(252,3,207)
}

.e{
	background-color: #fca103
}

.f{
	background-color: rgb(252,3,69)
}

.g{
	background-color: #03fc0f
}

.h{
	background-color: rgb(70,79,156)
}

.i{
	background-color: #6603fc
}

.k{
	background-color: rgb(3,252,119)
}