div{
width: 1000px;
height: 400px;
background-color: lightgreen;
display: flex;
justify-content: center;
align-items: center;

}



p{

width: 1000px;
height: 1000px;
display: flex;
justify-content: space-evenly;
align-items: flex-end;
background-color: lightblue;
}

img{
	width: 500px;
	height: 400px;
}